.Background {
    background-color: #282c34;
    padding: 10px;
}

.BodyWrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20px);
    max-width: 640px;
    margin: 0 auto;
    width: 100%;
}

.headerText {
    font-size: 35px;
    text-align: center;
}

.subHeader{
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
}


.fill {
    flex-grow: 1;
}

.copyright {
    text-align: center;
    color: #d0d0d0;
}


a:visited {
    color: #d0d0d0;
}

a:hover {
    color: white;
}

a {
    color: #d0d0d0;
    text-decoration: none;
}