.BodyWrapper {
    background-color: #282c34;
    min-height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.fill{
    flex-grow: 1;
}

.copyright {
    text-align: center;
    color: #d0d0d0;
    width: 100%;
    background-color: #282c34;
    padding: 10px 0;
}


a:visited {
    color: #d0d0d0;
}

a:hover {
    color: white;
}

a {
    color: #d0d0d0;
    text-decoration: none;
}

.CollapsibleArea{
    max-width: 640px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}