
.topWrap {
    margin-top: 15px;
    display: flex;
}

.amountPicker {
    flex-grow: 2;
    margin-right: 10px;
}

.weightPicker {
    flex-grow: 1;
}


.recipieSection {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-color: rgb(208, 208, 208);
    border-radius: 2px;
    padding: 10px;
    flex-wrap: wrap;
}

.recipieSection:hover {
    border-color: #ffffff;
}

.totalLabel {
    margin-top: 20px;
}

.ingredient {
    margin: 15px;
    text-align: center;
}

.ingredientIcon {
    height: 50px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
