.wrapper {
    max-width: 640px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.header {
    font-size: 18px;
    font-weight: 600;
}

.text{
    transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.26s ease;
}

