.header {
    font-size: 18px;
    font-weight: 600;
}

.controls{
    display: flex;
    justify-content: space-between;
    position: relative;
    user-select: none;
}

.arrow {
    transition: transform 0.26s ease;
    transform-origin: center;
    top: 5px;
    right: 0;
    position: absolute;
}

.CollapsibleWrapper{
    border: 1px solid #d0d0d0; 
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0;
}

.CollapsibleWrapper:hover{
    border-color: white;
}

.Collapsible {
    transform-origin: right;
    transition:max-height 0.26s ease-in-out;
    overflow: hidden;
}
